# Development requirements
# Testing, linters, formatting, and security checks
# pytest-xdist is not used - tests run serially to reproduce a user's experience more accurately.

pytest>=7.4
pytest-cov>=4.1
black>=24.3
ruff>=0.15
isort>=5.12
mypy>=1.6
pre-commit>=3.4
bandit>=1.9.1
tox>=4.11
pytest-timeout==2.4.0


# Add more dev tools as required

# Coverage tooling and additional linters
coverage>=7.2
flake8>=6.1
