name: Renovate

on:
  schedule:
    - cron: '0 5 * * *' # daily 05:00 EST
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 1
      - name: Run Renovate
        uses: renovatebot/github-action@8ac70de2fe55752c573155866e30735411e3b61c # v41.0.22
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.PROJECT_TOKEN }}
        env:
          LOG_LEVEL: info
